# encoding: utf-8
namespace :dev do

  desc "Rebuild system"
  task :build => ["tmp:clear", "log:clear", "db:drop", "db:create", "db:migrate", :setup ]

  desc "Setup system data"
  task :setup => :environment do
    puts "Create Bus"

    # 局本部
    Bus.new({name: '航警局', kind: 1, special: false, note: '中型娃娃車', depart: '00:00'}).save

    # 安檢
    Bus.new({name: '航警局', kind: 2, special: false, note: '中型娃娃車', depart: '00:00'}).save

    # 保安
    Bus.new({name: '航警局', kind: 3, special: false, note: '中型娃娃車', depart: '00:00'}).save

    #亞通 20150707 updated
    # T2 to T1
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '04:50'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '05:15'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '05:45'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '06:15'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '07:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '07:35'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '08:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '08:35'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '09:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '10:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '11:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '12:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '13:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '14:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '14:35'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '15:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '15:35'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '16:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '16:35'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '17:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '17:40'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '19:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '19:30'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '20:40'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '21:30'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '22:00'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '22:35'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '23:15'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T2 to T1', depart: '23:45'}).save

    # T1 to APB
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '04:55'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '05:20'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '05:50'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '06:20'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '07:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '07:40'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '08:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '08:40'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '09:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '10:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '11:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '12:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '12:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '13:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '14:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '14:40'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '15:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '15:40'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '16:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '16:40'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '17:10'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '17:45'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '19:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '19:35'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '20:45'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '21:35'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '22:05'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '22:40'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '23:20'}).save
    Bus.new({name: '亞通客運', kind: 4, special: false, note: 'T1 to 航警局', depart: '23:50'}).save


    Bus.reset_cache

    Photo.new({ description: '娃娃車車表' }).save
    Relation.new({ kind: 'orange_ref', description: '亞通客運-參考連結', link: 'http://www.orangebus.com.tw/info.php?catId=6' }).save
    Relation.new({ kind: 'orange_bus_img', description: '亞通客運-參考車表圖', link: 'http://www.orangebus.com.tw/data/editor_upload/images/AIRPORT-20150205.JPG' }).save
  end
end
