#main-menu{:role => "navigation"}
  #main-menu-inner
    %ul.navigation
      %li
        = link_to admin_buses_path do
          %i.menu-icon.fa.fa-edit.fa-fw
          %span.mm-text= t('buses.name')