.col-md-9{:role => "main"}
  .bs-docs-section
    %h1#introduction.page-header 前言
    %p.lead
      Hey!
      %br
      本車表主要使用網頁來顯示，為了往後能有APP(iOS, Android)型式出現，因此提供
      %code API
      ，歡迎使用並提出任何問題。
    %h3#how_to_use.page-header 使用方法
    %p
      主要透過下面網址，來取得車表資訊，並以
      %code json
      格式顯示
    .highlight
      %pre
        %code.language-bash{"data-lang" => "url"}
          http://apb.jiunjiun.me/api/&lt;PARAMS&gt;.json

  .bs-docs-section
    %h1#bus_info.page-header 車表資訊
    %p.lead
      車表資訊，目前提供三項
      %code API
      服務
      %ul
        %li 最新車表 - Now
        %li 下一班車表 - Next
        %li 全部車表 - All

    %h3#bus_info-now 最新車表 - Now
    %p 目前時間最靠近的車表資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          http://apb.jiunjiun.me/api/now.json
    %p
      %span.label.label-success Success 200

    .highlight
      %pre
        {"bus": {"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"19:00"},"status":{"code":200,"message":"ok"}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td bus
          %td Object
          %td 車輛資訊
        %tr
          %td &nbsp;&nbsp;name
          %td String
          %td 名稱
        %tr
          %td &nbsp;&nbsp;kind
          %td Integer
          %td 類型(1: 局本部, 2:保安隊, 3:安檢隊tw, 4:亞通客運)
        %tr
          %td &nbsp;&nbsp;special
          %td Boolean
          %td 是否為加班車
        %tr
          %td &nbsp;&nbsp;note
          %td String
          %td 備註(車種類型)
        %tr
          %td &nbsp;&nbsp;depart
          %td String
          %td 發車時間
        %tr
          %td status
          %td Object
          %td 狀態資訊
        %tr
          %td &nbsp;&nbsp;code
          %td Integer
          %td 回傳編碼(200: 成功, 400: 錯誤)
        %tr
          %td &nbsp;&nbsp;message
          %td String
          %td 回傳訊息

    %br

    %h3#bus_info-next 下一班車表 - Next
    %p 目前時間下一班資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          http://apb.jiunjiun.me/api/next/&lt;NEXT&gt;.json
    %h4 Example
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          http://apb.jiunjiun.me/api/next/1.json
    %h4 Result
    .highlight
      %pre
        {"bus":{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"19:35"},"status":{"code":200,"message":"ok"}}

    %p
      %span.label.label-info Parameter
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td next
          %td Integer
          %td 顯示下幾班的資訊
    %p
      %span.label.label-success Success 200

    .highlight
      %pre
        {"bus":{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"19:35"},"status":{"code":200,"message":"ok"}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td bus
          %td Object
          %td 車輛資訊
        %tr
          %td &nbsp;&nbsp;name
          %td String
          %td 名稱
        %tr
          %td &nbsp;&nbsp;kind
          %td Integer
          %td 類型(1: 局本部, 2:保安隊, 3:安檢隊tw, 4:亞通客運)
        %tr
          %td &nbsp;&nbsp;special
          %td Boolean
          %td 是否為加班車
        %tr
          %td &nbsp;&nbsp;note
          %td String
          %td 備註(車種類型)
        %tr
          %td &nbsp;&nbsp;depart
          %td String
          %td 發車時間
        %tr
          %td status
          %td Object
          %td 狀態資訊
        %tr
          %td &nbsp;&nbsp;code
          %td Integer
          %td 回傳編碼(200: 成功, 400: 錯誤)
        %tr
          %td &nbsp;&nbsp;message
          %td String
          %td 回傳訊息

    %br

    %h3#bus_info-all 全部車表 - All
    %p 所有車表資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          http://apb.jiunjiun.me/api/all.json
    %p 你也可以讀取前10筆資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          http://apb.jiunjiun.me/api/all/&lt;LIMIT&gt;.json
    %h4 Example
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          http://apb.jiunjiun.me/api/all/10.json
    %h4 Result
    .highlight
      %pre
        {"buses":[{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"00:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"01:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"02:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"03:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"04:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"04:45"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"04:50"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"04:55"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"05:15"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"05:20"}],"status":{"code":200,"message":"ok"}}
    %p
      %span.label.label-info Parameter
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td limit
          %td Integer
          %td 前幾筆資訊
    %p
      %span.label.label-success Success 200

    .highlight
      %pre
        {"bus":{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"19:35"},"status":{"code":200,"message":"ok"}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td buses
          %td Object[]
          %td 車輛資訊
        %tr
          %td &nbsp;&nbsp;name
          %td String
          %td 名稱
        %tr
          %td &nbsp;&nbsp;kind
          %td Integer
          %td 類型(1: 局本部, 2:保安隊, 3:安檢隊tw, 4:亞通客運)
        %tr
          %td &nbsp;&nbsp;special
          %td Boolean
          %td 是否為加班車
        %tr
          %td &nbsp;&nbsp;note
          %td String
          %td 備註(車種類型)
        %tr
          %td &nbsp;&nbsp;depart
          %td String
          %td 發車時間
        %tr
          %td status
          %td Object
          %td 狀態資訊
        %tr
          %td &nbsp;&nbsp;code
          %td Integer
          %td 回傳編碼(200: 成功, 400: 錯誤)
        %tr
          %td &nbsp;&nbsp;message
          %td String
          %td 回傳訊息

