.row.text-center
  .col-md-12
    %h1.title
      = t('buses.name')

    = link_to image_path('apb.jpg') do
      = image_tag 'apb.jpg', width: '60%', class: 'img-thumbnail'

  -# .col-md-12
  -#   .ref
  -#     = t('helpers.last_update', updated: '123')