.col-md-3{:role => "complementary"}
  %nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm
    %ul.nav.bs-docs-sidenav
      %li
        %a{:href => "#introduction"} 前言
        %ul.nav
          %li
            %a{:href => "#how_to_use"} 使用方法
      %li
        %a{:href => "#bus_info"} 車表資訊
        %ul.nav
          %li
            %a{:href => "#bus_info-now"} 最新車表 - Now
          %li
            %a{:href => "#bus_info-next"} 下一班車表 - Next
          %li
            %a{:href => "#bus_info-all"} 全部車表 - All
          %li
            %a{:href => "#bus_info-all-apb"} 全部車表 - APB
          %li
            %a{:href => "#bus_info-all-orange"} 全部車表 - Orange
      %li
        %a{:href => "#other_info"} 其他資訊
    %a.back-to-top{:href => "#top"} Back to top