#footer
  .text-center
    = link_to 'https://github.com/jiunjiun/apb-bus', target: '_blank' do
      -# %i.fa.fa-2x.fa-github-square
      GitHub
    ·2015·
    = link_to 'https://github.com/jiunjiun', target: '_blank' do
      jiunjiun
