#footer
  .text-center
    %ul.bs-docs-footer-links.text-muted
      %li 2015
      %li ·
      %li= link_to 'GitHub', 'https://github.com/jiunjiun/apb-shuttle', target: '_blank', class: 'dotted'
      %li ·
      %li= link_to 'jiunjiun', 'https://github.com/jiunjiun', target: '_blank', class: 'dotted'