%footer.bs-docs-footer{:role => "contentinfo"}
  .container
    %p
      Code licensed under
      = succeed "," do
        %a{:href => "https://github.com/jiunjiun/APB-Shuttle/blob/master/LICENSE", :target => "_blank", class: 'dotted'} MIT
      documentation under
      = succeed "." do
        %a{:href => "http://creativecommons.org/licenses/by/3.0/", class: 'dotted'} CC BY 3.0
    %ul.bs-docs-footer-links.text-muted
      %li 2015
      %li ·
      %li= link_to 'GitHub', 'https://github.com/jiunjiun/APB-Shuttle', target: '_blank', class: 'dotted'
      %li ·
      %li= link_to 'jiunjiun', 'https://github.com/jiunjiun', target: '_blank', class: 'dotted'
      %li ·
      %li v1.5.0
