.sb-slidebar.sb-right.sb-style-overlay
  %header.text-center
    .logo
      = link_to root_path do
        %i.fa.fa-bus

  %nav.text-center
    %ul.list-unstyled
      %li
        = link_to t('buses.name'), apb_path
      %li
        = link_to t('oranges.name'), orange_path
      -# %li 關於