%nav#theMenu.menu
  .menu-wrap
    %h1.logo
      %a{:href => "index.html#home"} LINK
    %i.fa.fa-arrow-right.menu-close
    %a{:href => "index.html"} Home
    %a{:href => "services.html"} Services
    %a{:href => "portfolio.html"} Portfolio
    %a{:href => "about.html"} 111
    %a{:href => "#contact"} Contact
    %a{:href => "#"}
      %i.fa.fa-facebook
    %a{:href => "#"}
      %i.fa.fa-twitter
    %a{:href => "#"}
      %i.fa.fa-dribbble
    %a{:href => "#"}
      %i.fa.fa-envelope
  / Menu button
  #menuToggle
    %i.fa.fa-bars