%nav#theMenu.menu
  .menu-wrap
    %h1.logo
      %a{:href => root_path} APB Bus
    %i.fa.fa-arrow-right.menu-close
    %a{:href => "services.html"} 車表
    -# %a{:href => "portfolio.html"} Portfolio
    -# %a{:href => "about.html"} 111
    -# %a{:href => } About
  / Menu button
  #menuToggle
    %i.fa.fa-bars